<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935220334298-j84l0kp2n6obqetsbfrl9u4hntc2ojkc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935220334298-j84l0kp2n6obqetsbfrl9u4hntc2ojkc</string>
	<key>API_KEY</key>
	<string>AIzaSyAbrVCa4DFFacPCd7DuZM240NC0WSb7MMg</string>
	<key>GCM_SENDER_ID</key>
	<string>935220334298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anilsakar.CalFatt</string>
	<key>PROJECT_ID</key>
	<string>anil-sakar-calories-app-8f7da</string>
	<key>STORAGE_BUCKET</key>
	<string>anil-sakar-calories-app-8f7da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935220334298:ios:27aef6e25ed864a0c45fe3</string>
	<key>DATABASE_URL</key>
	<string>https://anil-sakar-calories-app-8f7da.firebaseio.com</string>
</dict>
</plist>